# Ignorar archivos temporales de Python
__pycache__/
*.pyc

# Archivos de la base de datos de Django
db.sqlite3

# Entorno virtual
venv/
env/

# Archivos de configuración local (pueden contener datos sensibles)
*.env
local_settings.py

# Archivos del editor
.vscode/

# Ignorar archivos de migraciones
# Aunque se recomienda versionar las migraciones,
# puedes ignorar los archivos de caché dentro de la carpeta
*/migrations/__pycache__/

# Ignorar archivos temporales de requests, como peticiones.http
# Si este archivo no contiene información sensible y quieres versionarlo, bórralo de esta lista.
peticiones.http

# Archivos generados de requerimientos
# Si quieres que 'requirements.txt' sea versionado, asegúrate de que no esté en la lista.
# Si tienes archivos generados automáticamente como 'requirements.txt', puedes ignorarlos.
# Si no, es una buena práctica incluir 'requirements.txt' en el repositorio.
# Para tu caso, si 'requirements.txt' es el que se genera automáticamente, se ignoraría.
requirements.txt