{% extends 'store/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Tu Carrito</h2>
   <a href="{% url 'product-list-html' %}" class="btn btn-link">&larr; Volver</a>
    {% if cart_items %}
        {% for item in cart_items %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ item.product.title }}</h5>
                <p>Cantidad: {{ item.quantity }}</p>
                <p>Precio unitario: ${{ item.product.price }}</p>
                <p>Subtotal: ${{ item.subtotal }}</p>
                <form method="post" action="{% url 'cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="remove">
                    <input type="hidden" name="product_id" value="{{ item.product.id }}">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a href="{% url 'product-detail-html' item.product.id %}" class="btn btn-primary">ver detalle</a>
                </form>
            </div>
        </div>
        {% endfor %}
        <div class="card mt-3">
            <div class="card-body">
                <h3>Total: ${{ total }}</h3>
                <a href="{% url 'checkout' %}" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    {% else %}
        <p>Tu carrito está vacío</p>
    {% endif %}
</div>
{% endblock %}